body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
    animation: fadeInTopToBottom 1s ease-in;
}

@keyframes fadeInTopToBottom {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: auto;
    }
}

header {
    background-color: #333;
    color: #fff;
    padding: 3vh;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 3vh;
}

header:hover {
    background-color: #555;
}

h1 {
    margin: 0;
}

nav {
    background-color: #444;
    padding: 1vh 1.5vw;
    display: flex;
    gap: 1vw;
    width: 100%;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #f8f8f8;
}

.container {
    max-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2vh;
    background-image: url("Images/The_International_12.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2vh;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 10vh;
    transition: transform 0.3s;
    max-width: 50%;
}

section:hover {
    transform: scale(1.05);
}

.nav_button1, .nav_button2, .nav_button3 {
    margin-right: 5vw;
    margin-left: 5vw;
    transition: transform 0.2s;
    display: inline-block;
}

.nav_button1:hover, .nav_button2:hover, .nav_button3:hover {
    transform: scale(1.1);
}

@keyframes buttonScale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.field {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: transform 0.2s; 
}

.field:hover {
    transform: scale(1.1);
}

.field h3 {
    margin: 0;
    font-size: 18px;
}

.field p {
    margin: 5px 0;
    font-size: 16px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 2vh;
    max-height: 2vh;
}

.social-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: #333;
}

.social-icon {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 0;
    background-color: #333;
    border-radius: 5px;
    transition: transform 0.2s;
}

.social-icon:hover {
    transform: scale(1.1);
}